aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.3.4
asgiref==3.4.1
async-timeout==4.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
cbor2==5.4.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
Deprecated==1.2.13
fastapi==0.70.0
filelock==3.3.2
frozenlist==1.2.0
grpcio==1.41.1
h11==0.12.0
huggingface-hub==0.1.2
idna==3.3
importlib-resources==5.4.0
joblib==1.1.0
jsonschema==4.2.1
msgpack==1.0.2
multidict==5.2.0
numpy==1.21.4
packaging==21.2
protobuf==3.19.1
pubnub==5.4.0
pycryptodomex==3.11.0
pydantic==1.8.2
pyparsing==2.4.7
pyrsistent==0.18.0
PyYAML==6.0
-e git+git@github.com:sarahwooders/ralf.git@0792b6e2775aea3654dd97369a7cf8aabf9accb7#egg=ralf
ray==1.8.0
redis==4.0.0
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.46
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.17.0
tokenizers==0.10.3
torch==1.10.0
tqdm==4.62.3
transformers==4.12.3
typing-extensions==4.0.0
urllib3==1.26.7
uvicorn==0.15.0
wrapt==1.13.3
yarl==1.7.2
zipp==3.6.0
